.class {
    min-height: calc(100vh - 124px);
}

.class .class-title {
    text-align: center;
}

.class .class-info {
    height: calc(100% - 104px);
}

.class .categories {
    width: 325px;
    list-style: none;
    padding-left: 20px;
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
}

.class .content {
    width: calc(100% - 385px);
    display: inline-block;
    padding: 0 20px;
    margin: 10px 0;
}

.class .editor {
    min-height: calc(100vh - 229px);
}

.class .categories li {
    padding: 10px;
    border-left: 0;
    cursor: pointer;
    user-select: none;
}

.class .categories li.selected,
.class .categories li:hover {
    border-left: 2px solid black;
}

@media only screen and (max-width: 600px) {
    .class .content {
        width: calc(100% - 20px);
        display: block;
    }
}