.class {
    height: calc(100vh - 124px);
}

.class .class-title {
    text-align: center;
}

.class .class-info {
    height: calc(100% - 104px);
}

.class .categories {
    width: 290px;
    list-style: none;
    padding-left: 20px;
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
}

.class .content {
    width: calc(100% - 350px);
    display: inline-block;
    padding: 0 20px;
    margin: 10px 0;
    height: 100%;
}

.class .editor {
    height: 100%;
}

.class .categories li {
    padding: 10px;
    border-left: 0;
    cursor: pointer;
    user-select: none;
    transition: 0.25s;
}

.class .categories li.selected,
.class .categories li:hover {
    border-left: 2px solid black;
}

.class .hidden {
    display: none;
}