form {
    max-width: 700px;
    background-color: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

form > .form-title {
    font-size: 28px;
    font-weight: bold;
    color: black;
    font-style: italic;
    margin: 20px;
}

form > .form-sub-title {
    font-size: 22px;
    color: black;
    text-transform: none;
    margin: 20px;
}

form .error {
    text-transform: none;
    width: calc(100% - 80px);
    margin: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: red;
    text-align: left;
}

form label {
    position: relative;
    display: inline-block;
    width: calc(45% - 20px);
    margin-right: 5%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: 0.25s;
}

form label > input:not([type='checkbox']), form label > textarea, form > button:not(.close-modal) {
    border: none;
    border-bottom: 4px solid black;
    font-style: italic;
    border-radius: 0;
    font-family: "Arial", sans-serif;
    transition: 0.25s;
    padding: 10px;
}

form label > input:not([type='checkbox']) {
    width: calc(100% - 20px);
    font-size: 16px;
}

form label > input:not([type='checkbox']).invalid {
    border-color: red !important;
}

form label > span {
    position: absolute;
    left: 0;
    margin-right: 5%;
    font-family: "Arial", sans-serif;
    font-style: italic;
    text-transform: none;
    left: 10px;
    top: 10px;
    font-size: 16px;
    display: block;
    width: calc(100% - 20px);
    color: black;
    transition: 0.25s;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
}

form label > input:not([type='checkbox']):focus ~ span, form label > input:not([type='checkbox']).value ~ span,
form label > textarea:focus ~ span, form label > textarea.value ~ span,
form label > input:not([type='checkbox'])[type='date'] ~ span {
    font-size: 12px;
    top: -14px;
}

form label > textarea {
    width: calc(100% - 20px);
    font-size: 16px;
}

form button:not(.close-modal) {
    border: 4px solid black;
    color: black;
    font-size: 16px;
    background-color: white;
    width: calc(100% - 40px);
    margin: 20px;
    margin-top: 10px;
    padding: 15px;
    font-style: normal;
    text-transform: none;
    cursor: pointer;
    transition: 0.25s;
}

form button:not(.close-modal):hover, form button:not(.close-modal).submitted, form button:not(.close-modal).submitting {
    background-color: #4287f5;
}

form button:not(.close-modal).submitting {
    animation: there-and-back-again 2s infinite;
    cursor: default;
}

form button:not(.close-modal).submitted {
    animation: back-again 1s;
    cursor: default;
}

@keyframes there-and-back-again {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes back-again {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

form label:nth-of-type(2n) {
    margin-left: 5%;
    margin-right: 20px;
}

form label > input:not([type='checkbox']):active, 
form label > input:not([type='checkbox']):hover,
form label > textarea:active, 
form label > textarea:hover {
    border-bottom: 2px solid black;
    padding-bottom: 12px;
}

/* message label */
.contact > form label:nth-child(6) {
    width: calc(100% - 40px);
    margin-right: 20px;
}

form label > select {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    border: 4px solid black;
    font-style: italic;
    font-size: 16px;
    padding: 10px;
}

form label > select[disabled] {
    border: 4px solid grey;
}

form label > input[disabled]:not([type='checkbox']) {
    border-bottom: 4px solid grey;
    background-color: white;
}

form label>input[disabled]:not([type='checkbox']):active, form label>input[disabled]:not([type='checkbox']):hover {
    border-bottom: 2px solid grey;
}

form label > input[disabled]:not([type='checkbox']) + span {
    color: grey;
}

form input[type='checkbox'] + div {
    font-family: "Arial", sans-serif;
    text-transform: none;
    display: inline-block;
    margin-left: 5px;
    font-style: italic;
    font-size: 16px;
    vertical-align: bottom;
}

form input[type='checkbox'] {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}